<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>InAction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"/>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"/>
    <link href="../../../resources/css/all.css" rel="stylesheet" media="screen" th:href="@{/resources/css/all.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="row" style="margin: 8px;">
        <div th:replace="fragments/leftContent :: leftContent">LeftContent</div>
        <div class="col-8">
            <div th:replace="fragments/topMenu :: topMenu">TopMenu</div>

            <div class="panel">
                <form action="#" th:action="@{/signinpost}" th:object="${users}" method="post">
                    <br/>

                    <p>Enter your login: </p>
                    <br/>
                    <input type="text" th:field="*{username}"/>
                    <br/>
                    <p>Enter your password: </p>
                    <br/>
                    <input type="password" th:field="*{password}"/>
                    <br/>
                    <input type="submit" value="Login" name="button"/>

                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer">&copy; 2015 InAction Developers</div>
</div>
</body>
</html>