<div class="ct-chart ct-perfect-fourth" id="ct-chart-ct-perfect-fourth">
   <!-- <p th:text="${monday}">monday</p>
    <p th:text="${tuesday}">tuesday</p>
    <p th:text="${wednesday}">wednesday</p>
    <p th:text="${thursday}">thursday</p>
    <p th:text="${friday}">friday</p>

    <script>
        var data = {
            // A labels array that can contain any sort of values
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
            // Our series array that contains series objects or in this case series data arrays
            series: [
                array
            ]
        };
    </script>-->
    <script th:inline="javascript">
        function getData() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/statisticsController', false);
            xhr.send();
            if (xhr.status != 200) {
                alert(xhr.status + ': ' + xhr.statusText);
            } else {
                //    alert(xhr.responseText)
                return xhr.responseText

                // document.getElementById("array").innerHTML = xhr.responseText;
            }
        }

        var array = JSON.parse("[" + getData() +"]")

        /*    /!*<![CDATA[*!/
         var monday = /!*[[${monday}]]*!/ null;
         var tuesday = /!*[[${tuesday}]]*!/ null;
         var wednesday = /!*[[${wednesday}]]*!/ null;
         var thursday = /!*[[${thursday}]]*!/ null;
         var friday = /!*[[${friday}]]*!/ null;
         /!*]]>*!/
         */
        var data = {
            // A labels array that can contain any sort of values
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
            // Our series array that contains series objects or in this case series data arrays
            series: [
                array
            ]
        };

        // Create a new line chart object where as first parameter we pass in a selector
        // that is resolving to our chart container element. The Second parameter
        // is the actual data object.
        new Chartist.Line('.ct-chart', data);
    </script>
</div>