<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/all.css" rel="stylesheet" media="screen" th:href="@{/resources/css/all.css}" />
</head>
<body>

<div class="col-4" style="text-align: center;" th:fragment="leftContent">

    <div class="panel">
        <h1>Peter Sportsy</h1>
        <div rel="stylesheet"
             media="screen"
             style="width: 200px; height: 200px;
                        margin: 0 auto;
                        border-radius: 50%;
                        border: 1px solid #DC3522;
                        background-image: url('/resources/images/users/bike-person2.jpg');
                        background-position: center;
                        background-size: cover;"/>

        <p>
            Welcome to the Spring MVC Quickstart application!
            Get started quickly by signing up.
        </p>

        <p>
            <a href="/signup" th:href="@{/signup}" class="btn btn-success btn-lg">Sign up</a>
        </p>

        <a class="site-header__link" href="#" th:href="@{/}">Home</a>
        <a class="site-header__link" href="/archive">Archive</a>
        <a class="site-header__link" href="/logout" th:href="@{#}" onclick="$('#form').submit();">Logout</a>
        <a class="site-header__link" href="/signin" th:href="@{/signin}">Sign in</a>
    </div>
    <div style="margin-top: 8px;">
        <div class="panel">

            <h2>This week:</h2>
            <p>
                Statistics and info
            </p>

            <div class="ct-chart ct-perfect-fourth"></div>

            <script th:inline="javascript">
                function getData() {
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/statisticsController', false);
                    xhr.send();
                    if (xhr.status != 200) {
                        alert(xhr.status + ': ' + xhr.statusText);
                    } else {
                        //    alert(xhr.responseText)
                        return xhr.responseText

                        // document.getElementById("array").innerHTML = xhr.responseText;
                    }
                }

                var array = JSON.parse("[" + getData() +"]")

                /*    /!*<![CDATA[*!/
                 var monday = /!*[[${monday}]]*!/ null;
                 var tuesday = /!*[[${tuesday}]]*!/ null;
                 var wednesday = /!*[[${wednesday}]]*!/ null;
                 var thursday = /!*[[${thursday}]]*!/ null;
                 var friday = /!*[[${friday}]]*!/ null;
                 /!*]]>*!/
                 */
                var data = {
                    // A labels array that can contain any sort of values
                    labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
                    // Our series array that contains series objects or in this case series data arrays
                    series: [
                        array
                    ]
                };

                // Create a new line chart object where as first parameter we pass in a selector
                // that is resolving to our chart container element. The Second parameter
                // is the actual data object.
                new Chartist.Line('.ct-chart', data);
            </script>
            <a href="/graphDataSetter">Set Data</a>
        </div>
    </div>
</div>

</body>
</html>

